@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.Header-logo-container {
  height: 110px;
  display: flex;
}

.Header-logo {
  margin: 25px 0px 15px 25px;
  width: 20%;
  object-fit: contain;
}

.Header-balance-statistics-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Header-credit-balance-container {
  margin: 25px 60px 15px 25px;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.Header-credit-balance-container div {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.Header-statistics-container {
  padding: 45px 10px;
}

.Header-statistics-container p {
  font-size: 16px;
  color: #b3b1b1;
  font-family: "Roboto Slab", serif;
}

.Header-statistics-container span {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-right: 24px;
  margin-left: 4px;
  font-family: "Roboto Slab", serif;
}
.Header-balance-label {
  width: 120px;
  display: inline-block;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
}

.Header-balance-value {
  margin-left: 20px;
}

.Header-nav > ul > li {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #000000;
  padding: 10px 0px;
}
.Header-nav > ul > li:hover {
  background-color: #ffffff;
}
.Header-nav {
  background-color: #c4c4c4;
}
.Header-nav > ul {
  margin: 0px;
}

.Header-nav-orderAndtracking-subMenu {
  background-color: #ffffff;
  color: #000000;
  flex-direction: column;
  position: absolute;
  top: 151px;
  z-index: 1;
  left: 145px;
  list-style: none;
  padding: 5px 0px 5px 0px;
  min-width: 260px;
  box-shadow: 1px 2px 12px #767676;
  display: none;
}

.Header-navLink {
  background-color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 10px 15px 60px;
  margin: 10px 0px;
  color: #000000;
}

.Header-navLink:hover {
  color: #bd1c1c;
  box-shadow: 1px 2px 3px #767676;
}

.Header-orderAndtracking-navList-item {
  background-color: #000000;
}

.Header-dropdown-arrow-icon {
  width: 10px;
  margin-left: 5px;
}
/* 
.Header-navLink-main-menu {
  text-decoration: none;
  display: block;
  color: #000000;
} */

.Header-nav > ul > li > a {
  padding: 10px 30px;
  text-decoration: none;
  color: #000000;
}

.Header-hide-drop-down {
  display: none;
}

.Header-show-drop-down {
  display: block;
}

.active {
  background-color: #bd1c1c;
  color: #ffffff !important;
}

.Header-nav-logout {
  padding: 10px 30px !important;
  color: #000000;
  cursor: pointer;
}
