@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.Homepage-main-container {
  margin: 40px;
  display: flex;
}

.HomePage-left-container {
  width: 75%;
  border: 1px black solid;
}

.HomePage-right-container {
  width: 25%;
}
.HomePage-left-container-content {
  border: 1px black solid;
}

.HomePage-left-container-content h4 {
  margin: 20px;
}

.HomePage-table {
  width: 100%;
  text-align: left;
}
.HomePage-table thead {
  background-color: #c23c3c;
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

.HomePage-table thead th {
  padding: 5px 15px;
}
.HomePage-table tbody td {
  padding: 10px 15px;
}
.HomePage-important-notifications-container {
  min-height: 200px;
  border: 3px #000000 solid;
  margin-left: 20px;
}

.HomePage-offers-container {
  min-height: 300px;
  border: 3px #000000 solid;
  margin-left: 20px;
  margin-top: 40px;
}

.HomePage-offers-container ul,
.HomePage-important-notifications-container ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.HomePage-offers-container ul li {
  display: flex;
  align-items: center;
  margin: 20px;
  border: 1px #000000 solid;
  height: 70px;
  background-color: teal;
  position: relative;
}

.HomePage-offers-container ul li img {
  height: 70px;
  object-fit: cover;
}

.HomePage-important-notifications-container ul li {
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px #000000 solid;
  color: #fb3509;
}

.Homepage-important-notifications-container-header {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  color: #ffffff;
  padding: 10px;
  background-image: url("../img/bg_notifications_header.png");
}

.Homepage-important-notifications-container-header img {
  margin-right: 25px;
}

.skew {
  text-align: center;
  background: #ccc;
  height: 70px;
  color: #fff;
  transform: skew(-30deg);
  font-size: 16px;
  border: 2px #000000 solid;
  position: absolute;
  right: 20px;
  width: 70%;
  overflow: hidden;
  padding-left: 18px;
}

.skew p {
  transform: skew(30deg);
}

.skewCover {
  background-color: #ccc;
  height: 70px;
  width: 15%;
  position: absolute;
  right: 0px;
  border-top: 2px #000000 solid;
  border-right: 1px #000000 solid;
  border-bottom: 2px #000000 solid;
}

.skewText {
  position: relative;
}
