@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.OrderPlacingStatus-main-container {
  border: 1px black solid;
  margin: 40px 40px 40px 40px;
  position: relative;
  min-height: 550px;
}

.OrderPlacingStatus-table-container {
  border: 1px black solid;
  margin: 40px 40px 40px 40px;
}

.OrderPlacingStatus-main-container h4 {
  padding-left: 20px;
  font-family: "Roboto Slab", serif;
  background-color: #000000;
  margin: 0px;
  padding: 12px;
  text-align: center;
  width: 50%;
  color: #ffffff;
}

.OrderPlacingStatus-divider {
  border-top: 1px solid #000000;
}

.OrderPlacingStatus-table {
  text-align: left;
  border-spacing: 0px !important;
  margin-left: 40px;
}
.OrderPlacingStatus-table thead {
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  vertical-align: text-top;
}

.OrderPlacingStatus-table thead th {
  padding: 15px 15px;
  border-top: 1px #000000 solid;
}
.OrderPlacingStatus-table tbody td {
  padding: 20px 15px 40px 15px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #000000;
  border-bottom: 1px #000000 solid;
}

.OrderPlacingStatus-left-container {
  width: 30%;
  padding-left: 50px;
  padding-top: 40px;
}

.OrderPlacingStatus-right-container {
  width: 50%;
}

.OrderPlacingStatus-inner-container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 50px;
}

.OrderPlacingStatus-label-value-container label {
  width: 160px;
  font-family: "Roboto Slab", serif;
  display: inline-block;
  padding: 10px 0px 10px 20px;
  font-weight: 500;
}

.OrderPlacingStatus-label-value-colon {
  margin-right: 20px;
}

.OrderPlacingStatus-label-value {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.OrderPlacingStatus-excel-button {
  padding: 4px 20px;
  border: none;
  background-color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  display: block;
  margin-right: 20px;
}

.OrderPlacingStatus-excel-button-container {
  display: flex;
  padding: 50px 20px 15px 50px;
}

.OrderPlacingStatus-excel-button-container button span {
  margin-left: 15px;
}

.OrderPlacingStatus-excel-button-container button > img,
.OrderPlacingStatus-excel-button-container button > span {
  vertical-align: middle;
}

.OrderPlacingStatus-excel-button-container button:hover {
  background-color: #f8f8f8;
  box-shadow: 0px 15px 20px rgba(200, 200, 200, 0.9);
  transform: translateY(-5px);
}

.OrderPlacingStatus-left-container-order-success img,
.OrderPlacingStatus-left-container-order-success span {
  display: flex;
  vertical-align: middle;
  flex-direction: row;
}

.OrderPlacingStatus-left-container-order-success img {
  display: inline-block;
}
.OrderPlacingStatus-left-container-order-success span {
  font-family: "Roboto Slab", serif;
  display: inline-block;
  padding: 10px 0px 10px 25px;
  font-size: 18px;
  font-weight: 600;
}

.OrderPlacingStatus-go-back-button {
  font-size: 16px;
  color: #ffffff;
  border: none;
  background-color: #bd1c1c;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  width: 14vw;
  margin: 5px 5px 0px 0px;
  display: block;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: 0px;
}
